<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header" class="header flex-shrink-0 shadow font-bold">
    <div class="container mx-auto px-3 h-[50px] flex">
        <a href="/home/main" class="logo flex items-center">
            <span><i class="fas fa-file-alt"></i></span>
            <span>&nbsp;</span>
            <span>WIKEN</span>
        </a>

        <div class="flex-grow"></div>

        <ul class="flex">
            <li>
                <a href="/home/main" class="h-full flex items-center hover:underline px-2">
                    <span><i class="far fa-list-alt"></i></span>
                    <span>&nbsp;</span>
                    <span>ALL KENS</span>
                </a>
            </li>
            <li>
                <a href="/home/main" class="h-full flex items-center hover:underline px-2">
                    <span><i class="fas fa-user-edit"></i></span>
                    <span>&nbsp;</span>
                    <span>MY KENS</span>
                </a>
            </li>
            <li>
                <a href="/article/list" class="h-full flex items-center hover:underline px-2">
                    <span><i class="fas fa-pen"></i></span>
                    <span>&nbsp;</span>
                    <span>NEW KEN</span>
                </a>
            </li>
        </ul>
    </div>
</header>

</html>